<!DOCTYPE html>
<html lang="en-us" ng-app="egorApp">
<head>
    <title>Egor Project Main Page Hoo Hah</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <!-- load bootstrap and fontawesome -->
    <link rel="stylesheet" href="js/bs335/css/bootstrap.min.css" />
    <!--style>
        html, body, input, select, textarea
        {
            font-size: 1.05em;
        }
    </style-->
    <!-- jquery -->
    <script src="js/jq/jq1.js"></script>
    <script src="js/jq/jq2.js"></script>

    <!-- circular navigation, spinner, and radio/check box-->
    <link rel="stylesheet" type="text/css" href="css/circle.css"/>
    <link rel="stylesheet" type="text/css" href="js/ns/bootstrap-touchspin.min.css"/>
    <link rel="stylesheet" type="text/css" href="js/fr/fr.css"/>
    <script src="js/ns/bootstrap-touchspin.min.js"></script>

    <!-- load angular  -->
    <script src="js/angular.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- load egor stuff -->
    <script src="js/egorApp.js"></script>


</head>
<body>

<header>
    <!--nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">EgorProject</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"><i class="fa fa-settings"></i> Settings</a></li>
            </ul>
        </div>
    </nav-->
</header>

<div class="container">

    <!-- Connects this div to the back-end egor JS app's controller -->
    <div class="container text-center"  ng-controller="egorController">
        <!-- double handlebar moustaches bind the backend $scope global vars defined in the AJS app file -->
        <!-- you could think of this as egorApp.egorController.g_projectName in a java program -->
        <h1>Hello and welcome to {{g_projectName}} by {{f_lowerCaseIt()}}</h1>
        <p>(Use Ctrl-Shift-J to view console on Chrome, Ctrl-Shift-Del to clear cache)</p>
        <p>(Use F12 to view console on IE)</p>
        <hr/>
        <div class="col-sm-12" name="imageRow">
            <!-- I M A G E -->
            <!-- hack relies on mjgp streamer to provide updated http access to updated img file ->
            <img alt="mjpgstreamerimg" src={{g_mjpg_url}} width="100" height="100"/>
            <!-- doesn't work
            <div ng-init="image_reloader(timer=2000,src='img.jpg')">
                <p>Image updated via url [{{my_image_url}}]</p>
                <img ng-src="{{my_image_url}}" height="100" width="100"/>
            </div>
            -->
        </div> <!-- image row -->

        <div class="row" name="emptySpacerRow">
            &nbsp;
        </div> <!-- empty spacer row -->


        <div class="row">
            <div class="col-md-6 col-sm-6">

                <div class="panel panel-default"  >
                    <div class="panel-heading">Navigation Panel</div>
                    <div class="panel-body">

                            <!--section-->
                        <div class='circle-container'>
                            <a href='#' class='center'><input type="button" value=" BRAKE " id="S" data-ng-click="f_moveClick('S')"></a>
                            <a href='#' class='deg0'><input type="button" value=" R " id="R" data-ng-click="f_moveClick('R')"></a>
                            <a href='#' class='deg45'><input type="button" value=" BR " id="BR" data-ng-click="f_moveClick('BR')"></a>
                            <a href='#' class='deg90'><input type="button" value=" B " id="B" data-ng-click="f_moveClick('B')"></a>

                            <a href='#' class='deg135'><input type="button" value=" BL " id="BL" data-ng-click="f_moveClick('BL')"></a>
                            <a href='#' class='deg180'><input type="button" value=" L " id="L" data-ng-click="f_moveClick('L')"></a>
                            <a href='#' class='deg225'><input type="button" value=" FL " id="FL" data-ng-click="f_moveClick('FL')"></a>
                            <a href='#' class='deg270'><input type="button" value=" F " id="F" data-ng-click="f_moveClick('F')"></a>
                            <a href='#' class='deg315'><input type="button" value=" FR " id="FR" data-ng-click="f_moveClick('FR')"></a>
                        </div>

                        <!--/section-->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Settings</div>
                    <div class="panel-body">
                        <div>
                            Oomph (voltage):
                            <div class="input-group">
                            <span class="input-group-btn data-dwn">
                                <button class="btn btn-default btn-info" data-dir="dwn" data-ng-click="f_changeValClick('D_AVG_DOWN')"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                                <input type="text" class="form-control text-center" id="txtVolts" ng-model="g_volts"  min="0" max="2047">
                            <span class="input-group-btn data-up">
                                <button class="btn btn-default btn-info" data-dir="up" data-ng-click="f_changeValClick('D_AVG_UP')"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                            </div>
                        </div>
                        <div>
                            Smoothness (ramp):
                            <div class="input-group">
                            <span class="input-group-btn data-dwn">
                                <button class="btn btn-default btn-info" data-dir="dwn" data-ng-click="f_changeValClick('D_RAMP_DOWN')"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                                <input type="text" class="form-control text-center" id="RAMP" ng-model="g_ramp" min="0" max="2047">
                            <span class="input-group-btn data-up">
                                <button class="btn btn-default btn-info" data-dir="up" data-ng-click="f_changeValClick('D_RAMP_UP')"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                            </div>
                        </div>
                        <!--div class="row"-->
                        <div class="funkyradio">
                            <div class="funkyradio-primary">
                                <input type="radio" name="radio" id="rdSpurt" data-ng-click="f_moveClick('D_MOTOR_RUN_MODE_SPURT')" checked/>
                                <label for="rdSpurt">Spurt Mode (digital)</label>
                            </div>
                            <div class="funkyradio-primary">
                                <input type="radio" name="radio" id="rdContinuous" data-ng-click="f_moveClick('D_MOTOR_RUN_MODE_CONTINUOUS')"/>
                                <label for="rdContinuous">Continuous Mode (analog)</label>
                            </div>
                        </div>
                        <!--/div
                        <button type="button" id="APPLY" class="btn btn-primary btn-block" data-ng-click="f_changeValClick('APPLY')">Apply</button>
                        <-->
                    </div>
                </div>
            </div>

        </div>


        <!-- DEBUG AREA -->
        <hr/>
        <div>
            <label>Ad-hoc Egor Cmd: (F,B,L,R,FR,FL,BR,BL)</label>
            <input type="text" ng-model="g_moveCmd"/>{{g_moveCmd}}
            <input type="button" value="Send" ng-click="f_adhocClick()">
        </div>
        <div>
            (D_SIM_1,D_SIM_0)
        </div>
        <hr/>
        <div><b>location:</b>{{g_location}}</div>
        <div><b>webctx:</b>{{g_webctx}}</div>
        <div><b>my_image_url:</b> {{my_image_url}}</div>
        <div><label>Response</label>{{g_moveResponse}}</div>
        <div><label>Status Code</label></div>
        <div><textarea rows="1" cols="50" ng-model="g_httpStatusCode"></textarea></div>
        <div><label>Raw Response Data</label></div>
        <div><textarea rows="4" cols="50" ng-model="g_httpResponseData"></textarea></div>
        <div><label>Error Message</label></div>
        <div><textarea rows="4" cols="50" ng-model="g_error"></textarea></div>
    </div> <!-- controller -->
</div> <!-- container -->
</body>
</html>
