[Unit]
Description=Provide MJPG Stream over http port 9090
After=multi-user.target

[Service]
User=root
ExecStart=/home/pi/share/raptor/setupjunk/video_service/mjpg_stream.sh

[Install]
WantedBy=multi-user.target 
