[Unit]
Description=Take Still Raspicam Pics
After=multi-user.target

[Service]
ExecStart=/usr/bin/python /home/pi/share/raptor/setupjunk/video_service/take_pic.py

[Install]
WantedBy=multi-user.target 
