<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


    <display-name>EgorWebAppHooHah</display-name>
    <description>
        Contains components to process Egor commands
    </description>

    <servlet>
        <servlet-name>EgorServlet</servlet-name>
        <servlet-class>com.cobinrox.servlet.EgorServlet</servlet-class>
        <init-param>
            <param-name>propsFileName</param-name>
            <!--param-value>/home/pi/share/raptor/saberwc.properties</param-value-->
            <param-value>/home/pi/share/raptor/sparkfunwc.properties</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>EgorServlet</servlet-name>
        <url-pattern>/servlets/EgorServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AudioServlet</servlet-name>
        <servlet-class>com.cobinrox.servlet.AudioServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AudioServlet</servlet-name>
        <url-pattern>/servlets/AudioServlet</url-pattern>
    </servlet-mapping>
</web-app>
