[Unit]
Description=Checks GPIO switches for wlan config
After=multi-user.target

[Service]
User=root
ExecStart=/usr/bin/python /home/pi/share/raptor/setupjunk/chk_ip_config_service/chk_ip_config.py

[Install]
WantedBy=multi-user.target 
